table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: lightsteelblue;
    padding: 1px 15px 1px 15px;
}

h2 {
    color: darkblue;
}

td {
    align-items: center;
}