h1 {
    text-align: center;
    color: red
}

.text-red {
    color: white;
    background: red;
    font-size: 36px;
    font-family: "Arial";
    display: inline
}

body {
    background: black
}

